/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


body{
    background-color: hsl(30, 38%, 92%);
    gap: 0;
    margin: 0;
    padding: 0;
    height: 100svh;
    width: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50.9rem;
}

.div-img {
    height: 28.188rem;
    width: 18.75rem;
}

.card-img {
    background-image: url("images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.813rem 0 0 0.813rem;
}

.card-content {
    background-color: hsl(0, 0%, 100%);
    height: 28.188rem;
    width: 18.75rem;
    border-radius: 0 0.813rem 0.813rem 0;
    font-family: "Montserrat", system-ui;
    text-wrap: wrap;
    overflow: hidden;
}

.card-content-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 2rem;
    text-wrap: wrap;
}

h3 {
    font-weight: 500;
    font-size: 0.775rem;
    letter-spacing: 0.20rem;
    margin-bottom: 1.388rem;
    color: #989BA1;
}

h1 {
    font-family: "Fraunces", system-ui;
    font-size: 1.79rem;
    margin: 0 1rem 0.75rem 0.2rem ;
}

p {
    font-weight: 500;
    color: #989BA1;
    font-size: 0.775rem;
    word-spacing: 0.10rem; 
    line-height: 1.2rem;
    margin: 0.75rem 0.7rem 1rem 0.2rem ;
}

h4 {
    text-decoration: line-through;
    color: #797880;
    font-weight: 500;
    font-size: 0.775rem;
    margin: 0;
    padding: 0.7rem 0.7rem 0.7rem 1.7rem;
}

.price {
    color: hsl(158, 36%, 37%);
    margin: 0;
}

.card-price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 10rem;
    margin-bottom: 1.5rem;
}

button {
    width: 14.75rem;
    height: 3rem;
    border-radius: 0.438rem;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: "Montserrat", system-ui;
    font-weight: 700;
    background-image: url("images/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 29% 49%;
    padding-left: 10%;
}

button:hover {
    background-color: #1A4031;
}


@media only screen and (max-width: 590px) {
    .container{
        flex-direction: column;
    }

    .div-img{
        height: 15.063rem;
        width: 21.5rem;
    }

    .card-img {
        height: 100%;
        width: 100%;
        border-radius: 0.813rem 0.813rem 0 0 ;
    }
    
    .card-content {
        border-radius:0 0 0.813rem 0.813rem;
        width: 21.438rem;
        height: 22.938rem;
    }

    .card-content-design {
        margin: 2rem 2.5rem 1.5rem 1.625rem;
    }

    h3{
        margin: 0;
        margin-bottom: 0.875rem;
    }

    h1{
        margin: 0;
        margin-bottom:1.213rem;
    }

    p {
        margin: 0;
        margin-bottom: 1.1rem;
    }

    .card-price {
        margin: 0;
        margin-bottom: 1rem;
    }

    button{
        width: 18.438rem;
        background-position: 35% 49%;
    }
}